<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kodekonveyor.androidtest" version="1.0.27" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>inez</name>
    <description>angular test for Kode Konveyor environment</description>
    <author email="m4gw4s@gmail.com" href="https://kodekonveyor.com">
        Arpad Magosanyi
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="https://kode-konveyor.eu.auth0.com/*"/>
    <icon src="src/assets/logo.png" />

</widget>
